* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 227, 227);
    color: #555;
    width: 100%;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 25px;
    border: 0;
    border-radius: 10px;
    font-size: 120%;
    color: #fff;
}

#call {
    background-color: rgb(84, 84, 250);
}

#hangup {
    background-color: rgb(226, 69, 69);
}

*:focus {
    outline: none;
}

#remote-video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: auto;
    border-radius: 5px;
}

#local-video {
    position: fixed;
    width: 200px;
    height: auto;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
}
